<html>

<head>
  <meta charset="UTF-8">
  <meta property="og:title" content="{{title}}" />
  <meta property="og:type" content="website" />
  <meta property="og:image" content="https://www.gobigrock.com/wp-content/uploads/2016/10/Fieldstone.png" />
  <meta property="og:description" content="{{description}}" />
  <meta property="og:url" content="https://guimoz.fr/index.html" />
  <h1>{{title}}</h1>
</head>

<body onload="window.location.replace('{{link}}');">
</body>

</html>